/* ---- OOCSS - Grid.css --- */
.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a{ text-decoration: none;}
a.underline{ text-decoration: underline;}
header{ margin: 12px 0; }

h1, .h1{ font-family: 'Montserrat', sans-serif; font-size:2em; line-height: 1.2em; font-weight:bold; font-style: normal; margin: 0;}
h2, .h2{ font-family: 'Montserrat', sans-serif; font-size:2em; line-height: 1.2em; font-weight:bold; font-style: normal; margin: 0;}
h3, .h3{ font-family: 'Montserrat', sans-serif; font-size:1.5em; font-weight:bold; font-style: normal; margin: 0;}
h4, .h4{ font-family: 'Montserrat', sans-serif; font-size:1.25em; font-weight:normal; font-style: normal; margin: 0;}
h5, .h5{ font-family: 'Montserrat', sans-serif; font-size:.875em; line-height: 1.5em; font-weight:normal; font-style: normal; margin: 0;}
h6, .h6{ font-family: 'Montserrat', sans-serif; font-size: .75em; line-height: 1.5em; font-weight:normal;  font-style: normal; margin: 0;}

nav{ margin: 12px 0; }
img { max-width: 100%; }

.hidden{ display: none !important; }

.content{ 
	margin: auto; 
	max-width: 960px;
	padding: 12px;
}

.watcher{
	display: inline-block;
	text-align: center;
	background-color: #fafafa;
	padding: 12px;
	margin: 12px 0;
}
.watcher__more_button{
	margin: 12px;
}
.watcher__form{
	background-color: #aaa;
	padding: 12px;
}

.event{
	margin-bottom: 24px;
}
.event__date{
	text-align: right;
	padding: 12px;
}
.event__container{
	padding: 12px;
	background-color: #fafafa;
}

.cigarette_border{
	border-left: 3px solid #f90;
}
.picture_border{
	border-left: 3px solid #09f;
}
.text_border{
	border-left: 3px solid #000;
}

/* FROM BOOTSTRAP */

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	box-shadow: none;
}
.btn-link {
	cursor: pointer;
	border-radius: 0px;
}