@CHARSET "UTF-8";

/* ---- OOCSS - Grid.css --- */
.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{width:100%;float:none; clear: both;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of1,
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5 {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lastUnit{float:none;width:auto;}

/* ---------------------------- */
/* --------- SAWHAT ----------- */
/* ---------------------------- */

/* ---- Colors ---- */
body{ 
	color: #555;
	background-color: #666;
}
a, h1 { color: #999; }
a:hover{ 
	color: #999; 
	color: rgba(0,0,0,0.3); }
hr{
	color: #ccc;
	background-color: #ccc;
}
h1,h2,h3,h4 { border-color: rgba(0,0,0,0.3); }
*:not(pre) > code {
	background: #eee;
	border-color: #ccc;
}
blockquote {
	border-color: rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.05);
}
table th, table td { border-color: rgba(0,0,0,0.2); }
tbody tr:nth-child(odd) { background-color: rgba(0,0,0,0.1); }

.hidden_background{ background-color: transparent !important; }
.transparent{ background: rgb(0, 0, 0);	background: rgba(0, 0, 0, 0.4); }
.darker{ background: rgba(0, 0, 0, 0.04); }
.darker_text{ color: rgba(0, 0, 0, 0.3); }
.lighter_text{ color: rgba(255,255,255, 0.6); }
.white { background-color: #fff; }
.white_text { color: #fff; }
.black_text { color: #000; }
.border{ border-color: rgba(0, 0, 0, 0.05); }
.largeborderbottom{ border-color: #999; }
.error{ color : red; }

header{ border-color: #fff; }
.content{ background-color: #ccc; }
footer.content{ background-color: #666;	color: #999; }
.width_constraint{ background-color: transparent; }
.content > section > .sawhat,
.content > section > div > .sawhat {
	background-color: #fff;
}
.banner{ 
	background-color: #999;
	color: #fff; 
}
.fa.lighter_text:hover {
	color: #fff;
}
.fa.darker_text:hover {
	color: #000;
}
.starred_title {
	background: #bbb;
	color: #fff;
}
.starred_container {
	border-color: #bbb;
}
.breadcrumbs {
	background-color: transparent;
	color: #888;
}
.breadcrumbs a:hover { color: #fff; }
.column_2, .column_3 {
	-webkit-column-rule: 1px solid rgba(0,0,0,0.1);
	-moz-column-rule: 1px solid rgba(0,0,0,0.1);
	column-rule: 1px solid rgba(0,0,0,0.1);
}
.color_picker {
	background-color: #fff;
	border-color: #ccc;
}
.color_picker_item {
	background-color: #fff;
	border-color: #ccc;
}
.uploadprogress{
	background-color: #fff;
	border-color: #ddd;
}
.uploadprogress .progress-bar{ background-color: #4c0; }
.image_preview { background: rgba(80,80,80,0.8); }
#editor { border-color: rgba(0, 0, 0, 0.05); }
#search_result { background: rgba(255,255,255,0.3); }
footer a, footer .btn-link {
	color: #ccc;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
footer a:hover, footer .btn-link:hover {
	color: #eee;
}
.btn-link { color: #ccc; }

/* ---- Base Rules / Element Selector ---- */
body{
	font: 160%/1.5 Arial, Verdana, sans-serif;
	text-align: left;
	word-wrap:break-word;
}
section, article, header, footer, nav, aside, hgroup{ display: block; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	page-break-inside: avoid;
}
h1,h2,h3,h4 {
	border-width: 0 0 0.1em;
	border-style: solid;
}
hr {
	height: 1px;
	border: 0;
	margin: 0.75em auto;
	break-before: avoid;
}
a{ text-decoration: none; cursor: pointer; }
article{ padding: 0; }
fieldset{ width: 100%; }
img{
	max-width: 100%;
	vertical-align: middle;
}
*:not(pre) > code {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	vertical-align: text-top;
	padding: 0 0.3em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1em;
	border-width: 1px;
	border-style: solid;
}

/* Typography */
/* main line height = 1.5em => 1.5/font-size h = line-height h */
/* line are not perfect because of border-bottom in some headers */
h1, .h1{font-size:2em; margin:0.75em 0 0.675em; line-height: 1.5em; font-weight:bold; font-style: normal;}
h2, .h2{font-size:1.67em; margin:0.898em 0 0.898em; line-height: 0.898em; font-weight:bold; font-style: normal;}
h3, .h3{font-size:1.3em; margin:1.154em 0 1.154em; line-height: 1.154em; font-weight:bold; font-style: normal;}
h4, .h4{font-size:1.25em; margin:1.2em 0 1.2em; line-height: 1.2em; font-weight:normal; font-style: normal;}
h5, .h5{font-size:1.15em; margin:1.304em 0 1.304em; line-height: 1.304em; font-weight:bold; font-style: normal;}
h6, .h6{font-size:1em; margin:1.5em 0 1.5em; line-height: 1.5em; font-weight:normal; font-style: italic;}
/* normal margin + 2/3 */
blockquote + h1, blockquote + .h1 {
	margin-top: 1.25em;
}
blockquote + h2, blockquote + .h2 {
	margin-top: 1.496em;
}
blockquote + h3, blockquote + .h3 {
	margin-top: 1.923em;
}
blockquote + h4, blockquote + .h4 {
	margin-top: 1.999em;
}
blockquote + h5, blockquote + .h5 {
	margin-top: 2.172em;
}
blockquote + h6, blockquote + .h6 {
	margin-top: 1em;
}
p {
	widows: 4;
	orphans: 4;
	/* Not yet completely defined in CSS3 on 2014-05-23 */
	hyphenate: auto;
	hyphenate-before: 2;
	hyphenate-after: 3;
	hyphenate-lines: 3;
	font-variant-numeric: oldstyle-nums;
}
p + p { margin-top: 1.5em; }
ol,ul{ margin-bottom: 1.5em; }
li > ul, li > ol {
	margin-top: 0;
	margin-bottom: 0;
}
blockquote {
	padding: 0.5em;
	margin: 1em 0 1em 0.5em;
	border-left-width: 2px;
	border-style: solid;
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }
table th, table td {
	padding: 0.2em 0.4em; 
	border-width: 1px;
	border-style: solid;
}

/* "One Liners" */
.hidden{ display: none; }
.left{ float: left; }
.right{ float: right; }
.align_right{ text-align: right; }
.align_middle{ vertical-align: middle; }
.padding{ padding: 12px; }
.smallpadding{ padding: 6px; }
.smallestpadding{ padding: 2px; }
.paddingtop{ padding-top: 12px; }
.paddingbottom{ padding-bottom: 12px; }
.paddingleft{ padding-left: 12px; }
.paddingright{ padding-right: 12px; }
.paddingleftright{ padding: 0px 12px; }
.margin{ margin: 12px; }
.smallmargin{ margin: 6px; }
.smallermargin{ margin: 3px; }
.margintop{ margin-top: 12px; }
.marginbottom{ margin-bottom: 12px; }
.marginleft{ margin-left: 12px; }
.marginright{ margin-right: 12px; }
.margintopbottom{ margin-top: 12px; margin-bottom: 12px; }
.marginleftright{ margin-left: 12px; margin-right: 12px; }
.error{ font-weight: bold; }
.border{ border-width: 1px; border-style: solid; }
.largeborderbottom{ border-bottom-width: 6px; border-style: solid; }
.noborder{ border: 0; }
.fullwidth { width: 100%; }
/* clearfix hack via http://css-tricks.com/snippets/css/clear-fix/ */
.auto_clear:before,
.auto_clear:after {
    content: "";
    display: table;
} 
.auto_clear:after {
    clear: both;
}
.auto_clear {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.clear { clear: both; }
.smaller { font-size: 0.7em; }
small, .small { font-size: 0.9em; }
.big { font-size: 1.1em; }
.bigger { font-size: 1.2em; }
.striked {text-decoration: line-through;}
.light { font-weight: normal; }
.block { display: block; }
.verticaly_centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.placeholder_message {
	font-style: italic;
	color: #999;
	padding: 0.5em;
}

/* ---- Layout ---- */
header{ 
	vertical-align: bottom; 
	border-bottom-width: 2px;
	border-style: solid;
}
#super_wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.content{
	margin: auto;
	padding: 0 12px 12px;
}
footer.content{
	min-height: 150px;
	padding-top: 12px;
}
.width_constraint{
	max-width: 960px;
	padding-bottom: 0;
}
.banner{
	min-height: 40px;
	line-height: normal;
	padding: 6px 12px;
	display: block;
	vertical-align: top;
}
.banner.loadable{
	min-height: 0;
	padding: 0 0.5em;
	line-height: 1.5em;
}
.loadable_card { margin: 0.75em 0; }
.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6{
	vertical-align: bottom;
	display: inline;
	line-height: 40px;
	margin: 0;
	border: 0;
}
.banner .starred {
	cursor: pointer;
}

/* Starred */
.starred_title {
	padding: 3px 6px;
	margin-top: 0.75em;
}
.starred_container {
	padding: 3px;
	border-width: 0 1px 1px;
	border-style: solid;
}
.starred_container .loadable_card {
	margin: 3px;
}

/* ---- Breadcrumbs ---- */
.breadcrumbs {
	padding: 4px 0;
	margin: 0;
	border-radius: 0;
}
.breadcrumbs a.current { font-weight: bold; }

/* ---- Card Content ---- */
.things{ padding: 12px; }
.things ul li{
	padding-left: 1em;
	list-style: square inside;
}
.things ol li{
	padding-left: 1em;
	list-style: decimal-leading-zero inside;
}
.things > :first-child { margin-top: 0; }
.things > :nth-last-child(2) { margin-bottom: 0; }

.column_container { margin: 0.75em 0; }
.column_container .size1of1,
.column_container .size1of2,
.column_container .size1of3 {
	padding: 0;
	margin: 3px 0;
}
.column_container .size1of2:nth-child(1) { padding-right: 3px; }
.column_container .size1of2:nth-child(2) { padding-left: 3px; }

.column_container .size1of3:nth-child(1) { padding-right: 4px; }
.column_container .size1of3:nth-child(2) { padding: 0 2px; }
.column_container .size1of3:nth-child(3) { padding-left: 4px; }

.size1of3 .column_container .size1of2:nth-child(1),
.size1of3 .column_container .size1of2:nth-child(2) {
	width: 100%;
	padding: 0;
}

.size1of3 .column_container .size1of3:nth-child(1) {
	width: 50%;
	padding-right: 3px;
}
.size1of3 .column_container .size1of3:nth-child(2) {
	width: 50%;
	padding-left: 3px;
}
.size1of3 .column_container .size1of3:nth-child(3) {
	width: 100%;
	padding: 0;
}

.column_2, .column_3 {
	-webkit-column-gap:24px;
	-moz-column-gap:24px;
	column-gap:24px;
	margin: 0 0 12px;
}
.column_2 {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}
.column_3 {
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
}
.size1of2 .column_3 {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}
.size1of3 .column_2 {
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
}
.size1of3 .column_3 {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}

.include .things,.include .files {
	border-width: 0 1px 1px;
	border-style: solid;
}

/* ---- Card Edit ---- */
#card_edit_form legend {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6px;
	margin: 0;
}
.color_picker {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
	z-index: 10;
	border-width: 1px;
	border-style: solid;
}
.color_picker_item {
	width: 24px;
	height: 24px;
	float: left;
	margin: 3px;
	cursor: pointer;
	border-width: 3px;
	border-style: double;
}

/* Upload */
#addfileform{ line-height: 40px; }
.uploadprogress{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.uploadprogress .progress-bar{
	width: 0%;
	height: 40px;
}
.uploadprogress p{
	position: absolute;
	top: 0;
	left: 12px;
}

/* File list */
.image_link { width: 26em; }
.image_size {
	width: 6em;
	text-align: right;
}
.image_preview {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	z-index: 20;
}

/* ACE EDITOR */
#editor-mask { overflow-y: hidden; }
#editor-container { position: relative; }
#editor {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-width: 1px;
	border-style: solid;
}
.ace_scrollbar { display: none !important; }

/* Search */
#search_result { padding: 3px; }

/* Footer */
footer a,
footer .btn-link {
	display: inline;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
}
footer a:hover, footer .btn-link:hover {
	text-decoration: none;
}
footer form, footer input {
	margin: 0 !important;
}

/* ---- Bootstrap fixes ?? ---- */
form{ margin: 0;}
.btn-link {
	display: inline;
	padding: 0;
	font-size: 1em;
}

/* ---- Media Queries ---- */
@media screen and (max-width: 1200px) {
	.size1of3 { width: 50%; }
	.size1of2 { width: 100%; }
	
	.column_container .size1of2:nth-child(1),
	.column_container .size1of2:nth-child(2) {
		padding: 0;
	}
	
	.column_container .size1of3:nth-child(1) {
		padding-right: 3px;
	}
	.column_container .size1of3:nth-child(2) {
		padding-left: 3px;
	}
	.column_container .size1of3:nth-child(3) {
		padding: 0;
		width: 100%;
	}
	
	.column_2 {
		-webkit-column-count:1;
		-moz-column-count:1;
		column-count:1;
	}
	.column_3 {
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
	}
}
@media screen and (max-width: 800px) {
	.unit{ float: none;}
	.size1of3,.size1of2,.size1of1,.size4of5,.size1of5{ width: 100%;	}
	.content:not(footer) {
		padding: 0;
	}
	.breadcrumbs { padding: 6px 6px 0; }
	.include {
		margin: 0 -6px;
	}
	
	.column_container .size1of2:nth-child(1),
	.column_container .size1of2:nth-child(2),
	.column_container .size1of3:nth-child(1),
	.column_container .size1of3:nth-child(2),
	.column_container .size1of3:nth-child(3),
	.size1of3 .column_container .size1of3:nth-child(1),
	.size1of3 .column_container .size1of3:nth-child(2),
	.size1of3 .column_container .size1of3:nth-child(3) {
		width: 100%;
		padding: 0;
	}
	
	.column_2,
	.column_3 {
		-webkit-column-count:1;
		-moz-column-count:1;
		column-count:1;
	}
}