@CHARSET "UTF-8";
/* ---- OOCSS - Grid.css --- */
.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}

/* -------------------------------- */
/* --------- FINGER ZEN ----------- */
/* -------------------------------- */

/* ---- Base Rules / Element Selector ---- */
body{
	font: 100%/1.2 Arial, Verdana, sans-serif;
	text-align: left;
	background-color: #000;
	color: #fff;
}
section, article, header, footer, nav, aside, hgroup{
	display: block;
}
section{
	position:relative;
	width: auto;
}
h1, .h1{font-size:2em;font-weight:bold; font-style: normal;}
h2, .h2{font-size:1.67em;font-weight:bold; font-style: normal;}
h3, .h3{font-size:1.3em; font-weight:bold; font-style: normal;}
h4, .h4{font-size:1.25em; font-weight:normal; font-style: normal;}
h5, .h5{font-size:1.15em; font-weight:bold; font-style: normal;}
h6, .h6{font-size:1em; font-weight:normal;  font-style: italic;}
a{
	text-decoration: none;
	color: #eee;
}
a:hover{
	/*text-decoration: underline;*/
	color: #fff;
}
article{
	padding: 0;
}

/* Forms */
fieldset{
	width: 100%;
}
input{
	margin: 0 0 12px 0;
	color: #000;
	background: #fff;
	border: 1px solid #000000;
}
fieldset input{
	width: 50%;
}

/* ---- Layout ---- */
.content{
	margin: auto;
	width: 960px;
}
.block{ padding: 0px; }
.hidden{ display: none; }
.hidden_background{ background-color: transparent !important; }

/* Skins*/
.transparent{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
}

/* Messages */
.message{
	padding: 0 12px;
}
.error{
	color : red;
	font-weight: bold;
}

/* ---- HEADER ---- */
header{
	border-bottom: 2px solid #fff;
	vertical-align: bottom;
	text-align: bottom;
}
.maintitle{
	margin-top: 42px;
}
.signin{
	margin: 12px;
}

/* ---- Canvases ---- */

canvas{
  position:absolute;
  left:0px;
  top:0px;
}

#zen{
  z-index: 1;  
}

#zen1{
  z-index: 2;
}

#zen2{
  z-index: 3;
}